Source: xprebo
Section: net
Priority: extra
Maintainer: Thomas Liske <thomas@fiasko-nw.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: https://github.com/liske/xprebo
Vcs-Git: git://github.com/liske/xprebo.git

Package: xprebo
Architecture: all
Depends: libnet-xmpp-perl (>> 1.02-1), liblog-dispatch-perl, libproc-daemon-perl, libproc-pid-file-perl
Recommends: libnet-dns-perl
Description: XMPP Presence Bot
 xprebo connects to an XMPP/Jabber server and shows a presence status.
 The status and the message can be changed by feeding new events into
 named pipes. This makes it usable by scripts.
